<form class="form-inline" action="/add" method="POST">
  <label class="sr-only" for="inlineFormInputName">Name</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName" name="name" placeholder="Name">

   <label class="sr-only" for="inlineFormInputFood">Food/s</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputFood" name="food" placeholder="Food/s">

   <label class="sr-only" for="inlineFormInputBooze">Booze</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormBooze" name="booze" placeholder="Booze">

  <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>